{% extends './public/layout.html' %}
{% block head %}
<link rel="stylesheet" href="css/aboutus.css">
{% endblock %}

{% block body %}
<div class="Banner">
    <div class="w1200">
        <p class="title">关于威脉</p>
        <div class="infor">
            <p>
                让天下没有难做的销售”，通过营销工具、信息交互平台、销售社交生态，让千千万万的销售个体，以及广大中小企业的销售行为，变得不再有难度。企业回归生意本质：生产优质的产品、提供优良的服务和用户体验，造就口碑和品牌。销售个人赢销客户，赢得尊重，赢得梦想。从而成为全球最大的销售聚合平台。 </p>
            <p> “威脉”是好脉公司3年来开发的第一款营销工具，通过大数据、人工智能和传播关系链，帮助企业挖掘微信的流量价值。通过大数据的回馈，优化企业从营销-获客，执行-转化，到组织协同的内在能力，从而提升企业的经营能力。通过人工智能和传播关系链，为企业的营销策略制定，业务流程的再造和组织结构的设置，提供指导和支持。</p>
            <p>“威脉”是目前中国市场上，唯一的、性价比最高的营销解决方案提供商。</p>
        </div>
    </div>

    <div class="event">
        <a href="###" id="timeLeft" class="left leftHign"></a>
        <div class="eventContent">
            <div class="eventJiLu">
                <p>
                    <span class="yearRadio"></span>
                    <b>2015</b>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2015年6月12日“北京好脉网络信息技术有限公司”正式成立。</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2015年12月产品技术团队入驻，开始企业版产品的开发。</i>
                </p>

                <p>
                    <span class="yearRadio"></span>
                    <b>2016</b>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2016年1月成立销售冠军社群，吸引众多销售人员参与到产品设计，进一步完善产品成立销售冠军社群，吸引众多销售人员参与到产品设计，进一步完善产品。</i>
                </p>

                <p>
                    <span class="yearRadio"></span>
                    <b>2017</b>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2017年3月精力两年精心研发、产品定名“威脉”正式投入市场，同月，成为湖南省百度总代湖南竞网主打产品之一，并受邀合力开拓湖南市场。</i>
                </p>
                <p class="first-tishi">
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2017年4月威脉凭借对客户数据资料严格的安全把控，成功获取浦发、广发银行两大知名银行的青睐，并与之达成深度合作，至此，成为首家进入银行体系的saas平台。</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2017年5月24日百度营销峰会长沙站使用威脉数据工具作为重要传播途径之一，仅仅1小时完成1000人次转发，8小时内阅读人数达到10018人，总转发数量达到5180人次，转发层级达到26级。</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2017年6月2日威脉创始人闵怡波先生受邀国内顶级医美论坛 “美沃斯国际医学美容大会”进行”低成本精准拓客的分享。</i>
                </p>

                <p>
                    <span class="yearRadio"></span>
                    <b>2018</b>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2018年2月14日，威脉获得顶级资本-愉悦资本200万美金A轮投资；</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2018年4月10日，威脉召开“因威在你，脉脉相融”产品发布媒体说明会；</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2018年4月19日，威脉新品上线暨A轮融资发布会在北京798尤伦斯当代艺术中心召开，邀请嘉宾：刘二海-愉悦资本创始合伙人；徐志斌-腾讯开放平台缔造者，《社交红利》《小群效应》等畅销作者；秦金平-盛世美天集团董事长受邀参加新闻发布会。</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2018年5月3 - 4日， 威脉再次受邀参加2018美沃斯国际医学美容大会，再次在医美行业闪亮发声，并在美沃斯医美行业大会上召开“2018美沃斯，威脉助力医美轻松拓客”专场会议，</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2018年5月5日，威脉荣获“FS最佳合作伙伴”荣誉称号</i>
                </p>
                <p>
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2018年5月12日，威脉荣登《创新企业服务联盟》-“荣耀中国-2018中国合伙人”榜首</i>
                </p>
                <p class="last-tishi">
                    <span class="noRadio"></span>
                    <b></b>
                    <i>2018年5月14日，威脉CEO创始人闵怡波携威脉品牌形象矗立在中关村创业大街 （投行资源 、精英团体聚集地 中关村创业大屏）</i>
                </p>

            </div>
        </div>
        <a href="###" id="timeRight" class="right rightHign"></a>
    </div>
    <!--提示层-->
    <div class="tishiModel">
        <p class="arrow-down"></p>
        <div class="tishiContent"></div>
    </div>

</div>

<div class="gsInfor w1200">
    <div class="imgsLeft">
        <img src="images/about/mission.png" alt="">
    </div>
    <div class="text">
        <h3>公司使命：让天下没有难做的销售</h3>
        <p>好脉开创全新的“赢销”理念，为销售这个领域服务，让销售过程变得更容易。从而让销售赢得客户、赢得尊重、赢得人生。</p>
        <h3>企业愿景：</h3>
        <p>全球种类最多的销售工具集合平台；
        <p>
        <p>规模最大的销售人员汇集社区；
        <p>
        <p>专业最强的销售教育服务机构；
        <p>
        <p>让销售技能提升，人脉拓展，身心呵护，成为销售人员温馨的家园 </p>
        <h3>核心价值观 ：客户买 客户用 </h3>
        <p>让客户因为专业、价值和品牌而买，因为简单易用、服务专业和持续效果而用。</p>
    </div>
</div>

<div class="manageTeam w1324">
    <h1>管理团队</h1>
    <div class="changeImgs">
        <a href="###" id="timeLeft1" class="left leftMo1"></a>
        <div class="imgsContent">
            <ul id="imgsSlide">
                <li>
                    <img src="images/about/person-1.png" alt="">
                    <div class="personInfor">
                        <p>闵怡波</p>
                        <p>CEO</p>
                        <p>湖南大学工商管理硕士</p>
                    </div>
                    <div class="inforDetail">
                        <p>闵怡波</p>
                        <p>CEO,湖南大学工商管理硕士</p>
                        <p>
                            闵怡波：连续创业者，国内企业级服务权威人士，湖南大学EMBA。拥有14年销售及销售管理经验，创业之前曾在世界500强的IT公司连续工作8年，对销售领域有着独到的理解和认知。2015年6月闵怡波创立威脉并兼任公司首席执行官，负责公司战略制订、业务拓展及日常经营管理决策。他率先在国内提出“MRM营销关系理论”，并将此理论通过产品实现落地，赋能中国企业运营及管理，并在市场上取得了巨大的成功。</p>
                    </div>
                </li>
                <li>
                    <img src="images/about/person-2.png" alt="">
                    <div class="personInfor">
                        <p>杨蜜</p>
                        <p>联合创始人</p>
                        <p>运营副总裁，华中科技大学</p>
                    </div>
                    <div class="inforDetail">
                        <p>杨蜜</p>
                        <p>联合创始人,运营副总裁,华中科技大学</p>
                        <p>十三年IT行业渠道销售经验和渠道管理经验、三年移动互联网行业的成功的运营管理工作经验。擅长营销管理、客户关系管理、财务管理</p>
                    </div>
                </li>
                <li>
                    <img src="images/about/person-3.png" alt="">
                    <div class="personInfor">
                        <p>田春</p>
                        <p>CIO</p>
                        <p>北京航空航天大学软件工程硕士</p>
                    </div>
                    <div class="inforDetail">
                        <p>田春</p>
                        <p>CIO,北京航空航天大学软件工程硕士</p>
                        <p>曾就职于道有道（北京）科技有限公司担任首席信息官，总裁助理，商业智能，大数据分析专家</p>
                    </div>
                </li>
                <li>
                    <img src="images/about/person-4.png" alt="">
                    <div class="personInfor">
                        <p>陆民</p>
                        <p>CFO</p>
                        <p>中国人民大学硕士</p>
                    </div>
                    <div class="inforDetail">
                        <p>陆民</p>
                        <p>CFO,中国人民大学硕士</p>
                        <p>22年财务工作经验,有上市筹划工作经验、擅长资金管理,有丰富的融资经验、注册会计师</p>
                    </div>
                </li>
                <li>
                    <img src="images/about/person-5.png" alt="">
                    <div class="personInfor">
                        <p>吴鹏</p>
                        <p>营销副总</p>
                        <p>解放军信息工程大学</p>
                    </div>
                    <div class="inforDetail">
                        <p>吴鹏</p>
                        <p>营销副总,毕业于解放军信息工程大学</p>
                        <p>十多年销售管理经验，互联网教育招商经验，擅长社群营销，销售冠军复制经验。</p>
                    </div>
                </li>
                <li>
                    <img src="images/about/person-6.png" alt="">
                    <div class="personInfor">
                        <p>李晓白</p>
                        <p>市场总监</p>
                        <p>成都电子科技大学和成都理工大学双学位</p>
                    </div>
                    <div class="inforDetail">
                        <p>李晓白</p>
                        <p>市场总监,毕业于成都电子科技大学和成都理工大学 双学位（管理学学士 文学学士）</p>
                        <p>
                            11年市场相关工作经验。在美股上市公司及新三板上市公司工作多年。具备优秀的创造力、沟通能力、公关协调能力。拥有市场推广、品牌策划、商务谈判、公关危机处理、项目管理等经验。业务范围涉及汽车行业、通信行业、奢侈品行业、移动互联网行业的客户20余家。</p>
                    </div>
                </li>
            </ul>
        </div>
        <a href="###" id="timeRight1" class="right rightHign1"></a>
    </div>
</div>

<div class="fengCai">
    <h1>威脉风采</h1>
    <div class="fengCai2">
        <a href="###" id="timeLeft2" class="left">
            <span class="leftHign2"></span>
        </a>
        <div class="fengCaiContent">
            <ul id="imgsSlide2">
                <li>
                    <img class="gray" src="images/about/photo-1.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-2.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-3.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-4.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-5.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-6.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-7.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-8.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-9.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-10.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-11.png" alt="">
                </li>
                <li>
                    <img class="gray" src="images/about/photo-12.png" alt="">
                </li>
            </ul>
        </div>
        <a href="###" id="timeRight2" class="right">
            <span class="rightHign2"></span>
        </a>
    </div>
</div>

<div class="zhaoPin1">
    <div class="header1">
        <p class="p1">招贤纳士</p>
        <p class="p2">发送简历至hr@haomai-mrm.com</p>
    </div>
    <div class="footer1">
        <ul class="button1">
            <li class="active">
                <b>销售</b>
                <p>大客户销售经理（长沙/北京/深圳）</p>
            </li>
            <li>
                <b>运营</b>
                <p>项目运营（北京）</p>
            </li>
            <li>
                <b>市场</b>
                <p>市场专员（北京）</p>
            </li>
            <li>
                <b>招聘</b>
                <p>招聘主管（北京）</p>
            </li>
            <li>
                <b>开发</b>
                <p>高级web前端开发（长沙）</p>
            </li>
        </ul>

        <div class="content1 show1">
            <p class="one1">大客户销售经理</p>
            <p class="one2">工作地: (长沙、北京、深圳) 各10人 </p>
            <p class="one3">职位月薪：<span>6000-12000</span></p>

            <div class="yaoqiu">
                <div class="title2">工作职责：</div>
                <p>1.负责公司产品销售，完成销售业绩；</p>
                <p>2.发现客户需求，为客户提供营销解决方案；</p>
                <p>3.开发维护客户关系，制定客户开发计划，进行商务谈判并推进合同的签订；</p>
                <p>4.协助、监督、保障项目的落地与顺利实施;</p>
                <p>5.不断挖掘客户的潜在价值，以达成客户与公司间最大价值的合作方式。</p>
            </div>

            <div class="yaoqiu">
                <div class="title2">任职要求：</div>
                <p>1.专科以上学历，2-5年以销售或渠道工作经验，有医美、教育、家装、4S店行业背景；2.有移动互联网、SAAS</p>
                <p>软件销售经验更佳；</p>
                <p>3.熟悉互联网及各种营销模式;</p>
                <p>4.熟悉Powerpoint、Word、Excel等办公软件应用，有基本的方案策划、撰写能力；</p>
                <p>5.有很强的自我学习能力，积极主动、有强烈的责任感，有良好的抗压能力；</p>
                <p>6.较强的沟通、协调能力和团队协作能力。</p>
            </div>
        </div>

        <div class="content1">
            <p class="one1">项目运营</p>
            <p class="one2">工作作地点：北京 </p>
            <p class="one3">职位月薪：<span>15000-20000</span></p>

            <div class="yaoqiu">
                <div class="title2">工作职责：</div>
                <p>1.协助CIO制定公司中、长期战略发展规划、竞争策略等，并负责组织实施、监控，推动战略经营目标实现；</p>
                <p>2.依据已确定的战略规划，搭建运营体系，提出市场推广、品牌、公关、活动等方面的具体方向和实施方案；</p>
                <p>3.分解阶段运营计划及客户跟进计划、客户满意度提升方案，组织督导跟进落实；</p>
                <p>4.紧密把握公司市场销售、技术产品等发展趋势，探索建立线上业务商业模式及盈利模式，并实现公司盈利目标；</p>
                <p>5.日常业务运营管理，监测指标，建立完善的业务运作流程体系，优化业务环节，提升业务营运效率；
                <p>6.根据市场动向和发展趋势，准确定位经营思路，制定公司经营管理计划方案和营运推广计划，结合市场实际情况及时调整经营策略和经营方针，并完善管理及监督机制；</p>
                <p>7.协调各部门之间的关系，保证信息通畅，合理配置各部门资源，达成资源最大化转化与产出；</p>
                <p>8.达成运营目标：提高学员转化率；</p>
                <p>9.监测所辖部门关键指标，为公司重大决策事项提供数据支持，定期对市场调研与分析，研究同行、业界发展状况，进行市场预测及情报分析，为公司提出经营状况分析和前景预测报告。</p>
            </div>

            <div class="yaoqiu">
                <div class="title2">任职要求：</div>
                <p>1.硕士以上学历，具有运营管理，项目管理2年以上经验；</p>
                <p>2.对企业服务、2B业务、线上线下运营模式等有深入的理解；能够提出前瞻性的运营想法，有成功案例的优先；
                <p>
                <p>3.具备超强的互联网运营及用户体验感觉，具备高度战略发展眼光；
                <p>
                <p>4.具备优秀的逻辑思维、领导力和统筹协调资源能力；
                <p>
                <p>5.有很强的市场洞察力，分析问题和解决问题的能力，良好的计划、控制、协调能力及现代化企业经营管理理念；
                <p>
                <p>6.具备很好的决策能力和团队管理协调能力，执行力强大，追求结果
                <p>
            </div>

        </div>

        <div class="content1">
            <p class="one1">市场专员</p>
            <p class="one2">工作地北京 </p>
            <p class="one3">职位月薪：<span>6-10k</span></p>

            <div class="yaoqiu">
                <div class="title2">工作职责：</div>
                <p>1.负责北京地区异业市场活动合作洽谈，获取有效市场信息；</p>
                <p>2.负责常规市场落地活动的策划与执行，获取潜在客户数据；</p>
                <p>3.负责日常数据的统计及上报；</p>
                <p>4.其他区域或全国大型市场活动的支持与配合工作；</p>
                <p>5.上级安排的其他事项。</p>
            </div>

            <div class="yaoqiu">
                <div class="title2">任职要求：</div>
                <p>1.大学专科（含）以上学历；</p>
                <p>2.1-3年工作经验，有一定市场资源者优先考虑；</p>
                <p>3.市场营销相关专业、有组织策划活动经验者优先考虑；</p>
                <p>4.良好的沟通能力及技巧；</p>
                <p>5.积极上进、吃苦耐劳，有较强的进取心；</p>
                <p>6.热爱企服行业，具备良好的职业道德</p>
            </div>

        </div>

        <div class="content1">
            <p class="one1">招聘主管</p>
            <p class="one2">工作地: 北京 </p>
            <p class="one3">职位月薪：<span>6000-10000</span></p>

            <div class="yaoqiu">
                <div class="title2">工作职责：</div>
                <p>1.参与制定公司年度人力资源费用预算方案；</p>
                <p>2.根据各部门的人员需求，制定招聘计划，完成招聘任务；</p>
                <p>3.负责候选人简历的收集和挖掘，对简历进行筛选、面试评估、背景调查、录用通知等环节；</p>
                <p>4.完善优化招聘制度和流程，提高招聘工作效率和招聘有效性；</p>
                <p>5.开拓和维护各类招聘渠道，跟踪和收集同行业人才市场动态，吸引优秀人才；</p>
                <p>6.建立有效的人才储备机制及企业人才库；</p>
                <p>7.招聘数据分析，撰写招聘分析报告，对招聘工作进行及时评估；</p>
                <p>8.定期做人员分析，就公司人才梯队建设以及胜任力模型提出合理化方案；</p>
                <p>9.完成上级领导交办的其他工作任务。</p>
            </div>

            <div class="yaoqiu">
                <div class="title2">任职要求：</div>
                <p>1.专科以上学历，人力资源相关专业；</p>
                <p>2.两年以上招聘工作经验，熟练使用各类社交招聘工具，熟悉互联网招聘流程，有互联网行业猎头经验优先；</p>
                <p>3.结果导向，执行力强，能够独立处理基本的招聘问题；</p>
                <p>4.优秀的抗压能力、沟通和协调能力;</p>
                <p>5.开朗、进取、有创业精神，愿与创业型公司共同成长。</p>
            </div>

        </div>

        <div class="content1">
            <p class="one1">高级web前端开发 </p>
            <p class="one2">工作地点：长沙-开福区</p>
            <p class="one3">职位月薪：<span>10000-15000</span></p>

            <div class="yaoqiu">
                <div class="title2">工作职责：</div>
                <p>1.负责web前端的开发工作；</p>
                <p>2.负责前端页面的开发和性能优化；</p>
                <p>3.负责前端架构建设，公共组件的设计开发。</p>
            </div>

            <div class="yaoqiu">
                <div class="title2">任职要求：</div>
                <p>1.5年以上WEB前端开发经验，精通Javascript、H5、Sass/Less和HMTL前端模板引擎；</p>
                <p>2.精通HTML、CSS、W3C标准、常见协议、浏览器兼容性，熟练掌握CSS3新特性；</p>
                <p>3.精通面向对象的javascript开发，有开发过JS框架或公共组件开发经验；
                <p>4.对Javascript引擎实现机制、浏览器渲染性能有比较深入的研究；</p>
                <p>5.熟悉gulp，webpack等前端构建工具；</p>
                <p>6. 至少熟悉 React、Vue、Angular 其中一个前端 MVVM 框架；</p>
                <p>7. 有前端工程化与模块化开发实践经验；</p>
                <p>8.热爱前端技术，具有较强的事业心和高度的责任感，具有良好的沟通能力和推动能力。</p>
            </div>

        </div>


    </div>
</div>

<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="font-weight: 800">有问题？请致电</span>
                    <span class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉是中国领先的营销服务系统。在中国为上百家企业提供基于微信的营销数据采集、统计、分析服务，让企业提升获客能力、降低获客成本，真正做到透视小数据，营销无边界。<br>
                    <br>
                    我们致力于让天下没有难做的销售，通过数据系统加运营服务，帮助企业提高销售效率，重构业务流程，完善组织架构，回归生意本质。生产优质产品，优化客户体验，铸就品牌口配。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名(必填)">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称(必填)">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位(必填)">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号(必填)">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码(必填)">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>
<!--applymodal E-->

{% endblock %}

{% block foot %}
<script src="js/about.js"></script>
<script>
    timeEffets()
    slideImg()
    fullSlide()

    $(".button1 li").click(function(){
        var index=$(this).index()
        $(this).addClass('active').siblings().removeClass('active')
        $(".content1").eq(index).addClass('show1').siblings().removeClass('show1')
    })
</script>
{% endblock %}


