{% extends './public/layout.html' %}

{% block head %}
<link rel="stylesheet" href="css/hunsha.css">
{% endblock %}

{% block body %}
<!--contnet B-->
<div class="hm-case-hunsha-content">
    <div class="hm-case-hunsha-content-title">
        母婴行业案例
    </div>
    <div class="hm-case-hunsha-content-info">
        <i class="icon iconfont icon-pinpai"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">服务品牌：</span>倍康纸尿裤</span>
        <i class="icon iconfont icon-tag"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">所属行业：</span>母婴行业</span>
    </div>
    <img src="images/anli/anli_beikang/beikang_1.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">行业痛点&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">为满足互联网的营销需求，行业引流吸粉投入巨大，做了很多形式或渠道上的尝试，包含H5、朋友圈、互联网广告等，但仍效果有限，精准客户获取难 。</div>
    <img src="images/anli/anli_beikang/beikang_2.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">使用状态&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">通过威脉，三天的活动，推广费用仅1726.6元，完成13704次内容阅读曝光，转发11828次，触达人脉层级19层，人均浏览成本仅0.125元。</div>
    <img src="images/anli/anli_beikang/beikang_3.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">他们如何用威脉&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">倍康精心挑选8个高级别代理天使，为每位天使提供每个独立账号及独立的红包功能，通过定制化设计，摸索最适合企业的运营方式及营销逻辑，再逐步全面复制，完成全员营销的运营目标。</div>
    <img src="images/anli/anli_beikang/beikang_4.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">客户使用感悟&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">“以前为了给微信商城吸粉，我们投入巨大，也做了很多尝试。H5、朋友圈广告都是常用的方式。但是海量的流量却很难转化成真正的【留量】，公众号看似粉丝很多，带来的购买和后续传播却很有限，威脉营销配合我们创意策划让吸引来的流量更精准，留存率更高”<br>——倍康纸尿裤 副总经理 刘潮</div>
</div>
<!--contnet E-->

<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="margin-right: 16px">获得威脉赢销体验机会</span>有问题？请致电<span
                        class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉赢销是中国领先的营销管理系统。在中国400余座城市为近500万销售提供销售管理、数据分析、CRM等全面的销售服务。威脉赢销专注于销售的过程分析管理及销售个人的使用场景。<br>
                    公司致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决销售的全面问题; 提升用户体验，创造社会价值，建设高效、可持续的销售新生态。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>
<!--applymodal E-->

{% endblock %}

{% block foot %}

{% endblock %}