{% extends './public/layout.html' %}
{% block head %}
<link rel="stylesheet" href="css/case.css">
{% endblock %}

{% block body %}

<!--hangye B-->
<div class="hm-case-hangye">
    <div class="title">行业案例</div>
    <ul class="w">
        <li class="b-6" style='background-image: url("images/index/photo-1.png")'><span>家装</span></li>
        <li class="b-82" style='background-image: url("images/index/photo-2.png")'><span>医美</span></li>
        <li class="b-6" style='background-image: url("images/index/photo-3.png")'><span>摄影</span></li>
        <li class="b-82" style='background-image: url("images/index/photo-4.png")'><span>保险</span></li>
        <li class="b-82" style='background-image: url("images/index/photo-5.png")'><span>银行</span></li>
        <li class="b-6" style='background-image: url("images/index/photo-6.png")'><span>地产</span></li>
        <li class="b-82" style='background-image: url("images/index/photo-7.png")'><span>4S店</span></li>
        <li class="b-6" style='background-image: url("images/index/photo-8.png")'><span>教育</span></li>
    </ul>
</div>
<!--hangye E-->
<!--jingdian B-->
<div class="hm-case-jingdian">
    <div class="title">经典案例</div>
    <ul class="w">
        <li class="hm-case-jingdian-case">
            <a href="/pc/hunsha">
                <img src="images/anli/anli_hunsha/hunsha_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">艾特婚纱摄影，44天，10场活动，65万销售业绩！</div>
                    <div class="jd-txt">艾特团队通过44天，共做了10场活动，带来4162名有效客资，截止此数据收录日，艾特团队共成交160单，达成65万的销售业绩，在整个营销过程中，共投入22000红包费用进行裂变，投入之占产出的3.38%，在没有熟练操作威脉的程度上，这样的结果十分惊人！</div>
                </div>
            </a>
        </li>
        <li class="hm-case-jingdian-case">
            <a href="/pc/jiazhuang">
                <img src="images/anli/anli_jiazhuang/jiazhuang_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">一次性购买威脉4000个帐号，覆盖点石家装所有一线销售人员！</div>
                    <div class="jd-txt">2017年6月，仅在长沙就建立了50000多平米的家装产业园！“中国最大的家装集团之一”点石家装的当家人、狠角色——【点石家装董事长】袁超辉先生，着眼威脉为“营销”、“管理”、“运营”三大体系提供的价值！</div>
                </div>
            </a>
        </li>
        <li class="hm-case-jingdian-case">
            <a href="/pc/qiche">
                <img src="images/anli/anli_qiche/qiche_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">活动费用仅409元，力天宝崐4S店，当天成交60台汽车的交易！</div>
                    <div class="jd-txt">48小时内容阅读量4020，转发量1522，人际脉络渗透12层，推广费用仅409元，活动当天完成60台汽车的交易量。</div>
                </div>
            </a>
        </li>
        <li class="hm-case-jingdian-case">
            <a href="/pc/yimei">
                <img src="images/anli/anli_yimei/milan_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">颠覆医美行业千元的单人拓客成本，米兰柏羽4次活动花费1713元，有效客资共557名！</div>
                    <div class="jd-txt">行业营销成本极高，据有效数据显示，行业中，普遍拓客成本占整个企业销售额的60-70%，在互联网竞价广告的投放高峰，仅一天可达到十几万元的广告投放；</div>
                </div>
            </a>
        </li>
        <li class="hm-case-jingdian-case">
            <a href="/pc/beikang">
                <img src="images/anli/anli_beikang/beikang_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">倍康纸尿裤，三天活动，费用1726.6元，转发11828次，人均浏览0.125元！</div>
                    <div class="jd-txt">为满足互联网的营销需求，行业引流吸粉投入巨大，做了很多形式或渠道上的尝试，包含H5、朋友圈、互联网广告等，但仍效果有限，精准客户获取难。</div>
                </div>
            </a>
        </li>
        <li class="hm-case-jingdian-case">
            <a href="/pc/chanxin">
                <img src="images/anli/anli_muying/muying_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">利用威脉进行协同一致的营销行为及管理！2个月时间，部署近200家连锁加盟商！</div>
                    <div class="jd-txt">2个月时间，部署近200家连锁加盟商，进行协同一致的营销行为及管理，将威脉作为招商加盟的优势之一，打包到招商加盟方案去，借此帮助加盟商拓展业绩，做到提供母婴产品更提供落地的工具（威脉）。</div>
                </div>
            </a>
        </li>
        <li class="hm-case-jingdian-case">
            <a href="/pc/jiaoyu">
                <img src="images/anli/anli_jiaoyu/jiaoyu_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">凹凸教育花费599元，精准客户190人，成交29单，成交价格共7万元，投入仅占产出的0.85%！</div>
                    <div class="jd-txt">配合新校开业推广，使用威脉令其商业活动产生滚雪球效应，以全体工作人员为传播源点，进行分享转发，配合红包助力，达到空前成功。</div>
                </div>
            </a>
        </li>
        <li class="hm-case-jingdian-case">
            <a href="/pc/yinhang">
                <img src="images/anli/anli_yinhang/yinhang_1.png" alt="" class="img">
                <div class="content">
                    <div class="jd-title">三场营销活动，帮助浦发银行带来了数百万的理财业绩！</div>
                    <div class="jd-txt">与银行传统营销手段不同，互联网时代的来临，足不出户已经成为主流消费方式，在广阔、多元化的互联网环境中完成营销动作，实现精准拓客是行业一直在攻克的难题。</div>
                </div>
            </a>
        </li>

    </ul>
    <!--<div class="checkmore">-->
    <!--查看更多-->
    <!--</div>-->
</div>
<!--jingdian E-->
<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="font-weight: 800">有问题？请致电</span>
                    <span class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉是中国领先的营销服务系统。在中国为上百家企业提供基于微信的营销数据采集、统计、分析服务，让企业提升获客能力、降低获客成本，真正做到透视小数据，营销无边界。<br>
                    <br>
                    我们致力于让天下没有难做的销售，通过数据系统加运营服务，帮助企业提高销售效率，重构业务流程，完善组织架构，回归生意本质。生产优质产品，优化客户体验，铸就品牌口配。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名(必填)">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称(必填)">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位(必填)">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号(必填)">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码(必填)">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>
<!--applymodal E-->
{% endblock %}

{% block foot %}

{% endblock %}