
{% extends './public/layout.html' %}

{% block head %}
<link rel="stylesheet" href="css/hunsha.css">
{% endblock %}


{% block body %}
<!--contnet B-->
<div class="hm-case-hunsha-content">
    <div class="hm-case-hunsha-content-title">
        家装行业案例
    </div>
    <div class="hm-case-hunsha-content-info">
        <i class="icon iconfont icon-pinpai"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">服务品牌：</span>点石家装集团</span>
        <i class="icon iconfont icon-tag"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">所属行业：</span>家装行业</span>
    </div>
    <img src="images/anli/anli_jiazhuang/jiazhuang_1.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">行业痛点&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">家装行业由于客单价高，且客户重复性消费频次低，行业品牌混杂，普遍存在营销成本高的问题；<br>
        业务人员众多，大型企业业务人员可达数千人，主要以户外扫楼、寻找渠道资源等方式进行工作，对业务员缺乏有效管理与工作指导，事实上这样是无法做到积极营销、销售管理的；<br>
        老客户（口碑客户）转介绍的是家装行业重要客源渠道，如何将口碑营销做到有效传播和优化是行业难题。</div>
    <img src="images/anli/anli_jiazhuang/jiazhuang_2.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">使用状态&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">2017年6月，仅在长沙就建立了50000多平米的家装产业园！“中国最大的家装集团之一”点石家装的当家人、狠角色——【点石家装董事长】袁超辉先生，着眼威脉为“营销”、“管理”、“运营”三大体系提供的价值，从根本出发，解决行业痛点，与威脉首次合作即购置4000个威脉账户，几乎覆盖了所有一线销售，及各业务相关的部门成员。</div>
    <img src="images/anli/anli_jiazhuang/jiazhuang_3.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">他们如何用威脉&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">点石家装根据威脉重新调整了运营机制，将威脉针对销售激励优化型管理体系与点石一直以来奉行的“人性化管理体系”兼并和合一，并落实到企业当中，以全面营销的企业策略，降低营销成本，优化营销方式，为家装界的“奥迪”的战略目标打好基础。</div>
    <img src="images/anli/anli_jiazhuang/jiazhuang_4.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">客户使用感悟&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">"你们走到了前面，你们是这个领域的领导者，我一定要在最快的时间跟你们产生联系和互动，威脉直接解决了（团队中）谁付出谁收获的问题，重点使用还是在市场部、电商部、甚至设计师都可以将人脉发动起来，收益最大的将是直销部们"<br>——点石家装董事长&nbsp;&nbsp;袁超辉</div>
</div>
<!--contnet E-->

<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="margin-right: 16px">获得威脉赢销体验机会</span>有问题？请致电<span
                        class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉赢销是中国领先的营销管理系统。在中国400余座城市为近500万销售提供销售管理、数据分析、CRM等全面的销售服务。威脉赢销专注于销售的过程分析管理及销售个人的使用场景。<br>
                    公司致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决销售的全面问题; 提升用户体验，创造社会价值，建设高效、可持续的销售新生态。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>
<!--applymodal E-->
{% endblock %}