{% extends './public/layout.html' %}
{% block head %}
<link rel="stylesheet" href="css/product.css">
{% endblock %}

{% block body %}

<!--banner B-->
<div class="hm-product-banner">
    <div class="title">威脉，让成交更快</div>
    <div class="txt">为企业提升业绩的数据系统</div>
</div>
<!--banner E-->
<!--produce B-->
<div class="hm-product-produce">
    <ul class="w">
        <li class="hm-product-produce-img" style='background-size: 443px 328px;background-image: url("images/chanpin/1_neirong.png")'></li>
        <li class="hm-product-produce-text">
            <div class="title">
                内容创作
            </div>
            <div class="bigtext">
                快速构建原创内容，第三方内容及H5动态内容一键分享朋友圈！丰富插件，推广过程即是吸粉过程
            </div>
            <ul>
                <li><span></span>丰富的内容编辑工具</li>
                <li><span></span>定制化可扩展插件</li>
                <li><span></span>一键封装外部内容</li>
                <li><span></span>模拟查看手机上界面效果预览</li>
            </ul>
        </li>
        <li class="hm-product-produce-text pl-80">
            <div class="title">
                销售线索追踪
            </div>
            <div class="bigtext">
                无限层级深度挖掘分析，访问，转化，比例尽在掌握
            </div>
            <ul>
                <li><span></span>无限级全网销售轨迹记录</li>
                <li><span></span>一目了然挖出重要客户</li>
                <li><span></span>一键导入CRM</li>
            </ul>
        </li>
        <li class="hm-product-produce-img" style='background-size: 521px 272px;background-image: url("images/chanpin/2_xiaoshou.png")'></li>
        <li class="hm-product-produce-img" style='background-size: 445px 308px;background-image: url("images/chanpin/3_shuju.png")'></li>
        <li class="hm-product-produce-text" style="padding-top: 134px;">
            <div class="title">
                数据分析
            </div>
            <div class="bigtext">
                精准把握营销活动反馈、转化效果、锁定精准客户
            </div>
            <ul>
                <li><span></span>多种图表生动展示</li>
                <li><span></span>数据分类排序筛选</li>
                <li><span></span>多维度展示人脉关系图谱</li>
            </ul>
        </li>
        <li class="hm-product-produce-text pl-80">
            <div class="title">
                影响力
            </div>
            <div class="bigtext">
                高效决策销售员，内容，团队的执行力
            </div>
            <ul>
                <li><span></span>快速了解公司，团队，个人执行力情况</li>
                <li><span></span>快速了解内容影响力</li>
                <li><span></span>快速了解人脉影响力</li>
            </ul>
        </li>
        <li class="hm-product-produce-img" style='background-size: 525px 350px;background-image: url("images/chanpin/4_yingxiangli.png")'></li>
        <li class="hm-product-produce-img" style='background-size: 395px 375px;background-image: url("images/chanpin/5_hongbao.png")'></li>
        <li class="hm-product-produce-text" style="padding-top: 124px;">
            <div class="title">
                小红包大裂变
            </div>
            <div class="bigtext">
                轻松发布红包活动助力价值传播更远，更深提升客户接触点营销效果和服务效果
            </div>
            <ul>
                <li><span></span>借助红包激励，让转发倍增</li>
                <li><span></span>激励规则定制化</li>
                <li><span></span>激励金额想发多少发多少</li>
            </ul>
        </li>
        <li class="hm-product-produce-text pl-80">
            <div class="title">
                挖掘高价值客户
            </div>
            <div class="bigtext">
                多维度添加客户，一键记录客户数据，通过客户行为和响应挖掘价值，让你的每一分投入达到最高性价比
            </div>
            <ul>
                <li><span></span>通过脉络线索</li>
                <li><span></span>通过多维度图表分析</li>
                <li><span></span>通过插件主动引导</li>
                <li><span></span>通过数据挖掘</li>
            </ul>
        </li>
        <li class="hm-product-produce-img" style='background-size: 345px 350px;background-image: url("images/chanpin/6_waju.png")'></li>
    </ul>
</div>
<!--produce E-->

<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="font-weight: 800">有问题？请致电</span>
                    <span class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉是中国领先的营销服务系统。在中国为上百家企业提供基于微信的营销数据采集、统计、分析服务，让企业提升获客能力、降低获客成本，真正做到透视小数据，营销无边界。<br>
                    <br>
                    我们致力于让天下没有难做的销售，通过数据系统加运营服务，帮助企业提高销售效率，重构业务流程，完善组织架构，回归生意本质。生产优质产品，优化客户体验，铸就品牌口配。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名(必填)">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称(必填)">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位(必填)">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号(必填)">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码(必填)">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>

{% endblock %}

{% block foot %}
<script src="js/product.js"></script>
{% endblock %}