
{% extends './public/layout.html' %}

{% block head %}
<link rel="stylesheet" href="css/hunsha.css">
{% endblock %}


{% block body %}
<!--contnet B-->
<div class="hm-case-hunsha-content">
    <div class="hm-case-hunsha-content-title">
        汽车4S店行业案例
    </div>
    <div class="hm-case-hunsha-content-info">
        <i class="icon iconfont icon-pinpai"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">服务品牌：</span>力天宝崐宝马4S店</span>
        <i class="icon iconfont icon-tag"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">所属行业：</span>4S店</span>
    </div>
    <img src="images/anli/anli_qiche/qiche_1.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">行业痛点&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">新车售出后，老客户保险、保养、汽车等后续服务承接断层，大额利润不断流失；<br>
        推广预算低，或基本没有预算，如何在这样的情况下将行业信息有效精准传播；<br>
        管理难，传统的结果管理难以触及过程，不能做到快速、有效的直击问题根源。</div>
    <img src="images/anli/anli_qiche/qiche_2.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">使用状态&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">48小时内容阅读量4020，转发量1522，人际脉络渗透12层，推广费用仅409元，活动当天完成60台汽车的交易量。</div>
    <img src="images/anli/anli_qiche/qiche_3.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">他们如何用威脉&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">通过威脉特有的内容发布及定制化红包功能对活动信息进行传播执行与激励，即时获取4020名阅读（及转发者）每个数字背后的行为数据，分析目标客户与潜在客户的生活圈，联络线及阅读习惯，根据客户需求，有针对性的提供服务，超额达成销售目标，不止如此。使用威脉数据功能，将每个人的日常状态全部真实的透视出来，在传播过程中了解内部员工谁做的好、谁尚待进步，一目了然。如何让老客户持续产生价值，持续消费，威脉给力天宝崐宝马提供了无限的玩法，和更多的思路去完成营销工作。</div>
    <img src="images/anli/anli_qiche/qiche_4.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">客户使用感悟&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">“以前需要行政部确定员工有没有转发公司的宣传内容，现在威脉营销用数据告诉我员工有没有转发，转发之后的效果怎么样，清晰、直观！有了这个数据，我管理下面员工的时候就不用只看业绩和凭印象了，管理更多元，心里更有底”<br>——力天宝崐宝马4S店 总经理 &nbsp;&nbsp;熊尧</div>
</div>
<!--contnet E-->

<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="margin-right: 16px">获得威脉赢销体验机会</span>有问题？请致电<span
                        class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉赢销是中国领先的营销管理系统。在中国400余座城市为近500万销售提供销售管理、数据分析、CRM等全面的销售服务。威脉赢销专注于销售的过程分析管理及销售个人的使用场景。<br>
                    公司致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决销售的全面问题; 提升用户体验，创造社会价值，建设高效、可持续的销售新生态。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>
<!--applymodal E-->
{% endblock %}