{% extends './public/layout.html' %}

{% block head %}
<link rel="stylesheet" href="css/hunsha.css">
{% endblock %}


{% block body %}

<!--contnet B-->
<div class="hm-case-hunsha-content">
    <div class="hm-case-hunsha-content-title">
        医疗美容行业案例
    </div>
    <div class="hm-case-hunsha-content-info">
        <i class="icon iconfont icon-pinpai"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">服务品牌：</span>成都米兰柏羽（A股上市企业）</span>
        <i class="icon iconfont icon-tag"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">所属行业：</span>医疗美容</span>
    </div>
    <img src="images/anli/anli_yimei/milan_1.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">行业痛点&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">行业营销成本极高，据有效数据显示，行业中，普遍拓客成本占整个企业销售额的60-70%，在互联网竞价广告的投放高峰，仅一天可达到十几万元的广告投放；<br>行业内营销方式的多种多样，实际在“有效、精准传播”上收效甚微；<br>没有有效、公正的数据能够为管理带来依据。</div>
    <img src="images/anli/anli_yimei/milan_2.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">使用状态&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">通过米兰柏羽提供的数据分享，4次活动共花费推广成本1713元，带来有效客资共557名，在四次活动中最高平均拓客成本为4.93元/每人；最低平均拓客成本为2.46元/每人，这与传统医美数千元的单人拓客成本产生明显对比。</div>
    <img src="images/anli/anli_yimei/milan_3.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">他们如何用威脉&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">在互联网时代，充满创意的H5可谓与客户沟通的必杀技，米兰柏羽的宣传内容做的尤为精美，但阅读流量并未达成预期的精准拓客效果，引入威脉后，米兰柏羽利用自身优秀的内容创造能力，与威脉系统的运营·营销·管理三大运营优势融为一体，以精美营销做引，以数据做为评估准则与推广灵感源泉，优化团队销售能力，大幅降低拓客成本的同时实现真正意义上的精准营销。</div>
    <img src="images/anli/anli_yimei/milan_4.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">客户使用感悟&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">“作为全新的销售数据系统，威脉前途不可估量，我们希望随着威脉的发展的而发展，享受威脉发展的红利”<br>——来自米兰柏羽管理层的反馈</div>
</div>
<!--contnet E-->

<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="margin-right: 16px">获得威脉赢销体验机会</span>有问题？请致电<span
                        class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉赢销是中国领先的营销管理系统。在中国400余座城市为近500万销售提供销售管理、数据分析、CRM等全面的销售服务。威脉赢销专注于销售的过程分析管理及销售个人的使用场景。<br>
                    公司致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决销售的全面问题; 提升用户体验，创造社会价值，建设高效、可持续的销售新生态。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>
<!--applymodal E-->
{% endblock %}