
{% extends './public/layout.html' %}

{% block head %}
<link rel="stylesheet" href="css/hunsha.css">
{% endblock %}


{% block body %}
<!--contnet B-->
<div class="hm-case-hunsha-content">
    <div class="hm-case-hunsha-content-title">
        金融行业案例
    </div>
    <div class="hm-case-hunsha-content-info">
        <i class="icon iconfont icon-pinpai"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">服务品牌：</span>浦发银行</span>
        <i class="icon iconfont icon-tag"></i>
        <span class="hm-case-hunsha-content-info-content"><span class="font-999">所属行业：</span>金融行业</span>
    </div>
    <img src="images/anli/anli_yinhang/yinhang_1.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">行业痛点&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">获客：与银行传统营销手段不同，互联网时代的来临，足不出户已经成为主流消费方式，在广阔、多元化的互联网环境中完成营销动作，实现精准拓客是行业一直在攻克的难题。<br>
        管理：线下营业网点客流的减少，让银行业务员们失去了充沛的自然客源，原本光鲜亮丽的“坐等”客户，到如今不得不进行上访、地推等底层销售行为，转型过程中，人员心态并没有即时调整，导致管理和行动力变得日益迟缓，加上管理者无法监控到营业员的推销过程即时调试，整个销售部门业绩发展缓慢。<br>
        运营：数据沉淀是银行体系最为重要的一环，以往只在客户资讯上实现，营销方式的数据积累上远远不够，甚至没有，这就导致营销决策缺少有效的依据支撑，互联网时代银行迫切需要拥有自己的数据库，完善运营体系。

    </div>
    <img src="images/anli/anli_yinhang/yinhang_2.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">使用状态&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">通过威脉，浦发某省级分行连续做了三场营销活动，将具有特殊限制的金融产品进行了快速、精准的传播，通过威脉定制化红包，轻松撬动员工及老顾客的分享热情，帮助浦发带来了数百万的理财业绩，并为精准目标客户服务了数千万的放款额度，通过威脉即时数据，银行内部可以清晰看到每一个支行业务结构的核心问题，资源出在哪里，效果在哪里，通过对传播过程的数据分析也证实了每个业务员的用心程度和结果是成正比的。</div>
    <img src="images/anli/anli_yinhang/yinhang_3.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">他们如何用威脉&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">每一个支行都会设定一个网点作为威脉使用支点，通过日常使用，提升日常的业绩效率。</div>
    <img src="images/anli/anli_yinhang/yinhang_4.png" alt="">
    <div class="hm-case-hunsha-content-subtitle">客户使用感悟&nbsp;:</div>
    <div class="hm-case-hunsha-content-text">“我们有一款收益非常可观的理财产品，总行要求用这个高收益的爆品为浦发银行带来更多的新客户。威脉用微信里常用的裂变、分享、传播，像放大器一样帮我们轻松覆盖到更多我们以前接触不到的客户”<br>——浦发银行 消费小微事业部总经理  周微</div>
</div>
<!--contnet E-->

<!--applymodal B-->
<div class="hm-modal hm-applymodal">
    <div class="hm-modal-dialog">
        <i class="icon iconfont icon-guanbi"></i>
        <div class="hm-applymodal-content">
            <div class="hm-applymodal-content-left">
                <div class="hm-applymodal-content-left-title">
                    <span style="margin-right: 16px">获得威脉体验机会</span>有问题？请致电<span
                        class="hm-applymodal-content-left-title-tel">400-705-3600</span>
                </div>
                <div class="hm-applymodal-content-left-txt">
                    威脉是中国领先的营销管理系统。在中国400余座城市为近500万销售提供销售管理、数据分析、CRM等全面的销售服务。威脉专注于销售的过程分析管理及销售个人的使用场景。<br>
                    公司致力于以共享经济实践响应中国互联网创新战略，与不同社群及行业伙伴协作互补，运用大数据驱动的深度学习技术， 解决销售的全面问题; 提升用户体验，创造社会价值，建设高效、可持续的销售新生态。
                </div>
            </div>
            <div class="hm-applymodal-content-right">
                <div class="hm-applymodal-content-right-title">注册获得体验机会</div>
                <div class="hm-applymodal-content-right-form">
                    <div class="form-group hm-applymodal-content-right-form-name">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="姓名">
                            <div class="hm-tips">请填写姓名</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-company">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="企业名称">
                            <div class="hm-tips">请填写企业名称</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-postion">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="公司职位">
                            <div class="hm-tips">请填写公司职位</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-tel">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机号">
                            <div class="hm-tips">请填写手机号</div>
                        </div>
                    </div>
                    <div class="form-group hm-applymodal-content-right-form-code">
                        <div class="hm-input-contanier">
                            <input type="text" placeholder="手机验证码">
                            <div class="hm-tips">验证码错误</div>
                        </div>
                        <div class="hm-applymodal-content-right-form-code-btn">
                            获取验证码
                        </div>
                    </div>
                    <div class="hm-applymodal-content-right-form-submit">
                        提交申请
                    </div>
                </div>
            </div>
        </div>
        <div class="hm-tip-content">
            <i class="icon iconfont icon-succeed"></i>
            <div class="hm-tip-content-title">申请成功！</div>
            <div class="hm-tip-content-txt">我们的工作人员会在第一时间联系您</div>
        </div>
    </div>
</div>
<!--applymodal E-->
{% endblock %}