
{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/swiper.min.css" />
<link type="text/css" rel="stylesheet" href="css/about.css" />
{% endblock %}

{% block body %}
	<div class="mAboutOne">
		<h1>关于威脉</h1>
		<div class="mInfor">
			<p>
				北京好脉网络信息技术有限公司，成立于2015年6月，是国内社群营销平台的开创者。公司自主研发的核心产品“威脉”，基于对微信内容传播轨迹的智能统计分析，挖掘企业、内容、人（员工、客户）和关系链之间的价值，是一款帮助企业提升业绩的数据化“口碑拓客系统”。 赢得尊重、赢得人生。 </p>
			<p>“威脉”已为全国数百家企业提供了营销获客、销售过程管理、数据化运营等服务，并为企业品牌带来了超过千万人次的传播脉络，远超传统网络营销投产比。好脉开创全新的“赢销”理念，为销售这个领域服务，让销售过程变得更容易。从而让销售赢得客户。</p>
			<p>未来，好脉公司将致力于打造“威脉社群营销平台”，与各位合作伙伴一道合作共赢、拥抱未来。</p>
		</div>
		<div class="event" style="overflow: hidden">

			<div class="eventContent swiper-container">
				<div class="eventJiLu swiper-wrapper">
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2015年6月12日“北京好脉网络信息技术有限公司”正式成立。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2015年12月产品技术团队入驻，开始企业版产品的开发。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2016年1月成立销售冠军社群，吸引众多销售人员参与到产品设计，进一步完善产品成立销售冠军社群，吸引众多销售人员参与到产品设计，进一步完善产品。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2017年3月精力两年精心研发、产品定名“威脉”正式投入市场，同月，成为湖南省百度总代湖南竞网主打产品之一，并受邀合力开拓湖南市场。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2017年4月威脉凭借对客户数据资料严格的安全把控，成功获取浦发、广发银行两大知名银行的青睐，并与之达成深度合作，至此，成为首家进入银行体系的saas平台。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2017年5月24日百度营销峰会长沙站使用威脉数据工具作为重要传播途径之一，仅仅1小时完成1000人次转发，8小时内阅读人数达到10018人，总转发数量达到5180人次，转发层级达到26级。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2017年6月2日威脉创始人闵怡波先生受邀国内顶级医美论坛 “美沃斯国际医学美容大会”进行”低成本精准拓客的分享。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2018年2月14日，威脉获得顶级资本-愉悦资本200万美金A轮投资；</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2018年4月10日，威脉召开“因威在你，脉脉相融”产品发布媒体说明会；</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2018年4月19日，威脉新品上线暨A轮融资发布会在北京798尤伦斯当代艺术中心召开，邀请嘉宾：刘二海-愉悦资本创始合伙人；徐志斌-腾讯开放平台缔造者，《社交红利》《小群效应》等畅销作者；秦金平-盛世美天集团董事长受邀参加新闻发布会。</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2018年5月3 - 4日， 威脉再次受邀参加2018美沃斯国际医学美容大会，再次在医美行业闪亮发声，并在美沃斯医美行业大会上召开“2018美沃斯，威脉助力医美轻松拓客”专场会议，</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2018年5月5日，威脉荣获“FS最佳合作伙伴”荣誉称号</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2018年5月12日，威脉荣登《创新企业服务联盟》-“荣耀中国-2018中国合伙人”榜首</i>
					</p>
					<p class="swiper-slide">
						<span class="noRadio"></span>
						<i>2018年5月14日，威脉CEO创始人闵怡波携威脉品牌形象矗立在中关村创业大街 （投行资源 、精英团体聚集地 中关村创业大屏）</i>
					</p>
				</div>
			</div>

		</div>
		<!--提示层-->
		<div class="tishiModel">
			<p class="arrow-down"></p>
			<div class="tishiContent"></div>
		</div>
	</div>

	<div class="mAbout2">
		<div class="one">
			<div class="blueLine"></div>
			<div class="title1">公司使命：让天下没有难做的销售</div>
			<p>好脉开创全新的“赢销”理念，为销售这个领域服务，让销售过程变得更容易。从而让销售赢得客户、赢得尊重、赢得人生。 </p>
		</div>
		<div class="one">
			<div class="blueLine"></div>
			<div class="title1">企业愿景</div>
			<p>全球种类最多的销售工具集合平台；</p>
			<p>规模最大的销售人员汇集社区；</p>
			<p>专业最强的销售教育服务机构；</p>
			<p>让销售技能提升，人脉拓展，身心呵护，</p>
			<p>成为销售人员温馨的家园 </p>
		</div>
		<div class="one">
			<div class="blueLine"></div>
			<div class="title1">核心价值观 ：客户买 客户用 </div>
			<p>让客户因为专业、价值和品牌而买，</p>
			<p>	因为简单易用、服务专业和持续效果而用。 </p>
		</div>
	</div>

	<div class="mAbout3">
		<div class="mAboutBg mabout3" id="mbg3">
			<div class="title1">威脉风采</div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="images/about/manager-1.png" alt="">
						<p class="text">连续创业者，国内企业级服务权威人士，湖南大学EMBA。拥有14年销售及销售管理经验，创业之前曾在世界500强的IT公司连续工作8年，对销售领域有着独到的理解和认知。2015年6月闵怡波创立威脉并兼任公司首席执行官，负责公司战略制订、业务拓展及日常经营管理决策。他率先在国内提出“MRM营销关系理论”，并将此理论通过产品实现落地，赋能中国企业运营及管理，并在市场上取得了巨大的成功。</p>
					</div>
					<div class="swiper-slide">
						<img src="images/about/manager-2.png" alt="">
						<p class="text">十三年IT行业渠道销售经验和渠道管理经验、三年移动互联网行业的成功的运营管理工作经验。擅长营销管理、客户关系管理、财务管理</p>
					</div>
					<div class="swiper-slide">
						<img src="images/about/manager-3.png" alt="">
						<p class="text">曾就职于道有道（北京）科技有限公司担任首席信息官，总裁助理，商业智能，大数据分析专家</p>
					</div>
					<div class="swiper-slide">
						<img src="images/about/manager-4.png" alt="">
						<p class="text">22年财务工作经验,有上市筹划工作经验、擅长资金管理,有丰富的融资经验、注册会计师</p>
					</div>
					<div class="swiper-slide">
						<img src="images/about/manager-5.png" alt="">
						<p class="text">十多年销售管理经验，互联网教育招商经验，擅长社群营销，销售冠军复制经验。</p>
					</div>
					<div class="swiper-slide">
						<img src="images/about/manager-6.png" alt="">
						<p class="text">11年市场相关工作经验。在美股上市公司及新三板上市公司工作多年。具备优秀的创造力、沟通能力、公关协调能力。拥有市场推广、品牌策划、商务谈判、公关危机处理、项目管理等经验。业务范围涉及汽车行业、通信行业、奢侈品行业、移动互联网行业的客户20余家。</p>
					</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination mtow"></div>
			</div>
		</div>
	</div>

	<div class="mAbout3 team">
		<div class="mAboutBg mabout4" id="mgb4">
			<div class="title1">管理团队</div>
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-1.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-2.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-3.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-4.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-5.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-6.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-7.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-8.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-9.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-10.png" alt="">
					</div>
					<div class="swiper-slide">
						<img class="gray" src="images/about/mien-11.png" alt="">
					</div>
				</div>
				<!-- 如果需要分页器 -->
				<div class="swiper-pagination mtow"></div>
			</div>
		</div>
	</div>

	<div class="mAbout3 zhaoPin">
		<div class="bg">
			<div class="header">
				<p>招贤纳士</p>
				<p>发送简历至hr@haomai-mrm.com</p>
			</div>
			<div class="tabs">
				<p class="current">销售</p>
				<p>运营</p>
				<p>市场</p>
				<p>招聘</p>
				<p>开发</p>
			</div>

			<div class="tabsCon showTabs">
				<p class="one1">大客户销售经理</p>
				<p class="one2">工作地: (长沙、北京、深圳) 各10人 </p>
				<p class="one3">职位月薪：<span>6000-12000</span></p>

				<div class="yaoqiu">
					<div class="title2">工作职责：</div>
					<p>1.负责公司产品销售，完成销售业绩；</p>
					<p>2.发现客户需求，为客户提供营销解决方案；</p>
					<p>3.开发维护客户关系，制定客户开发计划，进行商务谈判并推进合同的签订；</p>
					<p>4.协助、监督、保障项目的落地与顺利实施;</p>
					<p>5.不断挖掘客户的潜在价值，以达成客户与公司间最大价值的合作方式。</p>
				</div>

				<div class="yaoqiu">
					<div class="title2">任职要求：</div>
					<p>1.专科以上学历，2-5年以销售或渠道工作经验，有医美、教育、家装、4S店行业背景；2.有移动互联网、SAAS</p>
					<p>软件销售经验更佳；</p>
					<p>3.熟悉互联网及各种营销模式;</p>
					<p>4.熟悉Powerpoint、Word、Excel等办公软件应用，有基本的方案策划、撰写能力；</p>
					<p>5.有很强的自我学习能力，积极主动、有强烈的责任感，有良好的抗压能力；</p>
					<p>6.较强的沟通、协调能力和团队协作能力。</p>
				</div>

			</div>

			<div class="tabsCon">
				<p class="one1">项目运营</p>
				<p class="one2">工作作地点：北京 </p>
				<p class="one3">职位月薪：<span>15000-20000</span></p>

				<div class="yaoqiu">
					<div class="title2">工作职责：</div>
					<p>1.协助CIO制定公司中、长期战略发展规划、竞争策略等，并负责组织实施、监控，推动战略经营目标实现；</p>
					<p>2.依据已确定的战略规划，搭建运营体系，提出市场推广、品牌、公关、活动等方面的具体方向和实施方案；</p>
					<p>3.分解阶段运营计划及客户跟进计划、客户满意度提升方案，组织督导跟进落实；</p>
					<p>4.紧密把握公司市场销售、技术产品等发展趋势，探索建立线上业务商业模式及盈利模式，并实现公司盈利目标；</p>
					<p>5.日常业务运营管理，监测指标，建立完善的业务运作流程体系，优化业务环节，提升业务营运效率；
					<p>6.根据市场动向和发展趋势，准确定位经营思路，制定公司经营管理计划方案和营运推广计划，结合市场实际情况及时调整经营策略和经营方针，并完善管理及监督机制；</p>
					<p>7.协调各部门之间的关系，保证信息通畅，合理配置各部门资源，达成资源最大化转化与产出；</p>
					<p>8.达成运营目标：提高学员转化率；</p>
					<p>9.监测所辖部门关键指标，为公司重大决策事项提供数据支持，定期对市场调研与分析，研究同行、业界发展状况，进行市场预测及情报分析，为公司提出经营状况分析和前景预测报告。</p>
				</div>

				<div class="yaoqiu">
					<div class="title2">任职要求：</div>
					<p></p>1.硕士以上学历，具有运营管理，项目管理2年以上经验；</p>
					<p>2.对企业服务、2B业务、线上线下运营模式等有深入的理解；能够提出前瞻性的运营想法，有成功案例的优先；<p>
					<p>3.具备超强的互联网运营及用户体验感觉，具备高度战略发展眼光；<p>
					<p>4.具备优秀的逻辑思维、领导力和统筹协调资源能力；<p>
					<p>5.有很强的市场洞察力，分析问题和解决问题的能力，良好的计划、控制、协调能力及现代化企业经营管理理念；<p>
					<p>6.具备很好的决策能力和团队管理协调能力，执行力强大，追求结果<p>
				</div>

			</div>
			<div class="tabsCon">
				<p class="one1">招聘主管</p>
				<p class="one2">工作地: 北京 </p>
				<p class="one3">职位月薪：<span>6000-10000</span></p>

				<div class="yaoqiu">
					<div class="title2">工作职责：</div>
					<p>>1.参与制定公司年度人力资源费用预算方案；</p>
					<p>>2.根据各部门的人员需求，制定招聘计划，完成招聘任务；</p>
					<p>>3.负责候选人简历的收集和挖掘，对简历进行筛选、面试评估、背景调查、录用通知等环节；</p>
					<p>>4.完善优化招聘制度和流程，提高招聘工作效率和招聘有效性；</p>
					<p>>5.开拓和维护各类招聘渠道，跟踪和收集同行业人才市场动态，吸引优秀人才；</p>
					<p>>6.建立有效的人才储备机制及企业人才库；</p>
					<p>>7.招聘数据分析，撰写招聘分析报告，对招聘工作进行及时评估；</p>
					<p>>8.定期做人员分析，就公司人才梯队建设以及胜任力模型提出合理化方案；</p>
					<p>>9.完成上级领导交办的其他工作任务。</p>
				</div>

				<div class="yaoqiu">
					<div class="title2">任职要求：</div>
					<p>1.专科以上学历，人力资源相关专业；</p>
					<p>2.两年以上招聘工作经验，熟练使用各类社交招聘工具，熟悉互联网招聘流程，有互联网行业猎头经验优先；</p>
					<p>3.结果导向，执行力强，能够独立处理基本的招聘问题；</p>
					<p>4.优秀的抗压能力、沟通和协调能力;</p>
					<p>5.开朗、进取、有创业精神，愿与创业型公司共同成长。</p>
				</div>

			</div>
			<div class="tabsCon">
				<p class="one1">高级web前端开发 </p>
				<p class="one2">工作地点：长沙-开福区</p>
				<p class="one3">职位月薪：<span>10000-15000</span></p>

				<div class="yaoqiu">
					<div class="title2">工作职责：</div>
					<p>1.负责web前端的开发工作；</p>
					<p>2.负责前端页面的开发和性能优化；</p>
					<p>3.负责前端架构建设，公共组件的设计开发。</p>
				</div>

				<div class="yaoqiu">
					<div class="title2">任职要求：</div>
					<p>1.5年以上WEB前端开发经验，精通Javascript、H5、Sass/Less和HMTL前端模板引擎；</p>
					<p>2.精通HTML、CSS、W3C标准、常见协议、浏览器兼容性，熟练掌握CSS3新特性；</p>
					<p>3.精通面向对象的javascript开发，有开发过JS框架或公共组件开发经验；
					<p>4.对Javascript引擎实现机制、浏览器渲染性能有比较深入的研究；</p>
					<p>5.熟悉gulp，webpack等前端构建工具；</p>
					<p>6. 至少熟悉 React、Vue、Angular 其中一个前端 MVVM 框架；</p>
					<p>7. 有前端工程化与模块化开发实践经验；</p>
					<p>8.热爱前端技术，具有较强的事业心和高度的责任感，具有良好的沟通能力和推动能力。</p>
				</div>

			</div>
			<div class="tabsCon">
				<p class="one1">市场专员</p>
				<p class="one2">工作地北京 </p>
				<p class="one3">职位月薪：<span>6-10k</span></p>

				<div class="yaoqiu">
					<div class="title2">工作职责：</div>
					<p>1.负责北京地区异业市场活动合作洽谈，获取有效市场信息；</p>
					<p>2.负责常规市场落地活动的策划与执行，获取潜在客户数据；</p>
					<p>3.负责日常数据的统计及上报；</p>
					<p>4.其他区域或全国大型市场活动的支持与配合工作；</p>
					<p>5.上级安排的其他事项。</p>
				</div>

				<div class="yaoqiu">
					<div class="title2">任职要求：</div>
					<p>1.大学专科（含）以上学历；</p>
					<p>2.1-3年工作经验，有一定市场资源者优先考虑；</p>
					<p>3.市场营销相关专业、有组织策划活动经验者优先考虑；</p>
					<p>4.良好的沟通能力及技巧；</p>
					<p>5.积极上进、吃苦耐劳，有较强的进取心；</p>
					<p>6.热爱企服行业，具备良好的职业道德</p>
				</div>

			</div>
		</div>
	</div>
{% endblock %}

{% block foot %}
<script src="js/jquery-1.10.1.min.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/mabout.js"></script>
<script>
    time()
    two()
    three()
    $(".tabs p").click(function(){
        var index=$(this).index()
        $(this).addClass('current').siblings().removeClass('current')
        $(".tabsCon").eq(index).addClass('showTabs').siblings().removeClass('showTabs')
    })
</script>
{% endblock %}
