{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css" />
{% endblock %}

{% block body %}
<div  class="contanter detais-con">
	<h3>母婴行业案例</h3>
	<ul class="detais-ul">
		<li><img src="images/icon23.png"><span>服务品牌：</span>倍康纸尿裤</li>
		<li><img src="images/icon24.png"><span>所属行业：</span>母婴行业</li>
	</ul>
	<p class="case-img"><img src="images/case4a.png"></p>
	<div class="case-tt">行业痛点 :</div>
	<p class="case-txt">
		为满足互联网的营销需求，行业引流吸粉投入巨大，做了很多形式或渠道上的尝试，包含H5、朋友圈、互联网广告等，但仍效果有限，精准客户获取难 。<br/>
	</p>

	<p class="case-img"><img src="images/case4b.png"></p>
	<div class="case-tt">使用状态 :</div>
	<p class="case-txt">
		通过威脉，三天的活动，推广费用仅1726.6元，完成13704次内容阅读曝光，转发11828次，触达人脉层级19层，人均浏览成本仅0.125元。<br/>
	</p>

	<p class="case-img"><img src="images/case4c.png"></p>
	<div class="case-tt">他们如何用威脉 :</div>
	<p class="case-txt">
		倍康精心挑选8个高级别代理天使，为每位天使提供每个独立账号及独立的红包功能，通过定制化设计，摸索最适合企业的运营方式及营销逻辑，再逐步全面复制，完成全员营销的运营目标。<br/>
	</p>

	<p class="case-img"><img src="images/case4d.png"></p>
	<div class="case-tt">客户使用感悟 :</div>
	<p class="case-txt">
		“以前为了给微信商城吸粉，我们投入巨大，也做了很多尝试。H5、朋友圈广告都是常用的方式。但是海量的流量却很难转化成真正的【留量】，公众号看似粉丝很多，带来的购买和后续传播却很有限，威脉营销配合我们创意策划让吸引来的流量更精准，留存率更高”<br/>
		——倍康纸尿裤 副总经理 刘潮<br/>
	</p>
</div>
{% endblock %}
