{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/case.css" />
{% endblock %}

{% block body %}
<div class="contanter">
	<h3 class="title case-title fz2">行业案例</h3>
	<ul class="link-list mrt-ul borderbg">
		<li>
			<img src="images/pr1.png">
		</li>
		<li>
			<img src="images/pr2.png">
		</li>
		<li>
			<img src="images/pr3.png">
		</li>
		<li>
			<img src="images/pr4.png">
		</li>
		<li>
			<img src="images/pr5.png">
		</li>
		<li>
			<img src="images/pr6.png">
		</li>
		<li>
			<img src="images/pr7.png">
		</li>
		<li>
			<img src="images/pr8.png">
		</li>
	</ul>
	<h3 class="title case-title fz2">经典案例</h3>
	<ul class="case-ul">
		<li class="clearfix">
			<a href="/mobile/mhunsha"><div class="case-left">艾特婚纱摄影，44天，10场活动，65万销售业绩！</div>
				<img src="images/img1.png" class="case-right"></a>
		</li>
		<li class="clearfix">
			<a href="/mobile/mjiazhuang">
				<div class="case-left">一次性购买威脉4000个帐号，覆盖点石家装所有一线销售人员！</div>
				<img src="images/case1.png" class="case-right">
			</a>
		</li>
		<li class="clearfix">
			<a href="/mobile/mqiche">
				<div class="case-left">活动费用仅409元，力天宝崐4S店，当天成交60台汽车的交易！</div>
				<img src="images/case2.png" class="case-right">
			</a>
		</li>
		<li class="clearfix">
			<a href="/mobile/myimei">
				<div class="case-left">颠覆医美行业千元的单人拓客成本，米兰柏羽4次活动花费1713元，有效客资共557名！</div>
				<img src="images/case3.png" class="case-right">
			</a>
		</li>
		<li class="clearfix">
			<a href="/mobile/mbeikang">
				<div class="case-left">倍康纸尿裤，三天活动，费用1726.6元，转发11828次，人均浏览0.125元！</div>
				<img src="images/case4.png" class="case-right">
			</a>
		</li>
		<li class="clearfix">
			<a href="/mobile/mchanxin">
				<div class="case-left">利用威脉进行协同一致的营销行为及管理！2个月时间，部署近200家连锁加盟商！</div>
				<img src="images/case5.png" class="case-right">
			</a>
		</li>
		<li class="clearfix">
			<a href="/mobile/mjiaoyu">
				<div class="case-left">凹凸教育花费599元，精准客户190人，成交29单，成交价格共7万元，投入仅占产出的0.85%！</div>
				<img src="images/case6.png" class="case-right">
			</a>
		</li>
		<li class="clearfix borderbg">
			<a href="/mobile/myinhang">
				<div class="case-left">三场营销活动，帮助浦发银行带来了数百万的理财业绩！</div>
				<img src="images/case7.png" class="case-right">
			</a>
		</li>
	</ul>
</div>
{% endblock %}

