{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css"/>
{% endblock %}
{% block body %}
<div class="contanter detais-con">
    <h3>母婴行业案例</h3>
    <ul class="detais-ul">
        <li><img src="images/icon23.png"><span>服务品牌：</span>禅心妈妈月子餐连锁加盟</li>
        <li><img src="images/icon24.png"><span>所属行业：</span>母婴行业</li>
    </ul>
    <p class="case-img"><img src="images/case5a.png"></p>
    <div class="case-tt">行业痛点 :</div>
    <p class="case-txt">
        拓展渠道难，渠道拓客难。<br/>
    </p>

    <p class="case-img"><img src="images/case5b.png"></p>
    <div class="case-tt">使用状态 :</div>
    <p class="case-txt">
        将威脉作为自由拓客体系的配套工具，提供给加盟商。<br/>
    </p>

    <p class="case-img"><img src="images/case5c.png"></p>
    <div class="case-tt">他们如何用威脉 :</div>
    <p class="case-txt">
        2个月时间，部署近200家连锁加盟商，进行协同一致的营销行为及管理，将威脉作为招商加盟的优势之一，打包到招商加盟方案去，借此帮助加盟商拓展业绩，做到提供母婴产品更提供落地的工具（威脉）。<br/>
    </p>

    <p class="case-img"><img src="images/case5d.png"></p>
    <div class="case-tt">客户使用感悟 :</div>
    <p class="case-txt">
        “我们之前的工作重心都在产品研发方向，导致很多伙伴对月子饮食调养量身定制给于客户的价值讲不清楚，同事缺乏获取精准客户的能力，接触威脉后，他们用专业的知识和获取数据的事实打动了我，现在我们近200家伙伴都部署了威脉系统，预计今年（2017年）会增加到500家左右”<br/>
        ——禅心妈妈月子餐连锁加盟 创始人&CEO 王芳<br/>
    </p>
</div>
{% endblock %}
