{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css"/>
{% endblock %}

{% block body %}
<div class="contanter detais-con">
    <h3>婚纱摄影行业案例</h3>
    <ul class="detais-ul">
        <li><img src="images/icon23.png"><span>服务品牌：</span>艾特婚纱摄影集团</li>
        <li><img src="images/icon24.png"><span>所属行业：</span>婚纱摄影</li>
    </ul>
    <p class="case-img"><img src="images/img16.png"></p>
    <div class="case-tt">行业痛点 :</div>
    <p class="case-txt">
        为满足互联网需求，行业营销成本不断上升，营销成本普遍占据总销售额的20%之多，部分婚纱摄影机构甚至达到了30%；<br/>
        行业从业人员普遍存在年龄小，文化水平不高的问题，如何有效管理，从而提升销售业绩成为行业难题之一；
        随着信息的透明化，行业竞争成为价格之战，目前没有行之有效的方式做去升级营销。<br/>
    </p>
    <p class="case-img"><img src="images/img1a.png"></p>
    <div class="case-tt">使用状态 :</div>
    <p class="case-txt">
        艾特团队通过44天，共做了10场活动，带来4162名有效客资，截止此数据收录日，艾特团队共成交160单，达成65万的销售业绩，在整个营销过程中，共投入22000红包费用进行裂变，投入之占产出的3.38%，在没有熟练操作威脉的程度上，这样的结果十分惊人！<br/>
    </p>

    <p class="case-img"><img src="images/img1b.png"></p>
    <div class="case-tt">他们如何用威脉 :</div>
    <p class="case-txt">
        第一阶段 通过活动下发，进行全员转发达到效果；<br/>
        第二阶段 威脉理论融入到企业管理运营中，优化传统的运营机制，令企业整体业绩得到大幅提升。<br/>
    </p>

    <p class="case-img"><img src="images/img1c.png"></p>
    <div class="case-tt">客户使用感悟 :</div>
    <p class="case-txt">
        “非常感谢威脉，因为威脉完全站在客户的角度提供价值，是值得坦诚相待的合作伙伴，我们不但要自己用，还要将威脉推广出去，让所有同行与我们一同收益，未来是微信、微博、威脉的3V时代”
        ——来自艾特管理层的反馈<br/>
    </p>
</div>
{% endblock %}
