{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css" />
{% endblock %}

{% block body %}
<div class="contanter detais-con">
    <h3>家装行业案例</h3>
    <ul class="detais-ul">
        <li><img src="images/icon23.png"><span>服务品牌：</span>点石家装集团</li>
        <li><img src="images/icon24.png"><span>所属行业：</span>家装行业</li>
    </ul>
    <p class="case-img"><img src="images/case1a.png"></p>
    <div class="case-tt">行业痛点 :</div>
    <p class="case-txt">
        家装行业由于客单价高，且客户重复性消费频次低，行业品牌混杂，普遍存在营销成本高的问题；<br/>
        业务人员众多，大型企业业务人员可达数千人，主要以户外扫楼、寻找渠道资源等方式进行工作，对业务员缺乏有效管理与工作指导，事实上这样是无法做到积极营销、销售管理的；<br/>
        老客户（口碑客户）转介绍的是家装行业重要客源渠道，如何将口碑营销做到有效传播和优化是行业难题。<br/>
    </p>

    <p class="case-img"><img src="images/case1b.png"></p>
    <div class="case-tt">使用状态 :</div>
    <p class="case-txt">
        2017年6月，仅在长沙就建立了50000多平米的家装产业园！“中国最大的家装集团之一”点石家装的当家人、狠角色——【点石家装董事长】袁超辉先生，着眼威脉为“营销”、“管理”、“运营”三大体系提供的价值，从根本出发，解决行业痛点，与威脉首次合作即购置4000个威脉账户，几乎覆盖了所有一线销售，及各业务相关的部门成员。<br/>
    </p>

    <p class="case-img"><img src="images/case1c.png"></p>
    <div class="case-tt">他们如何用威脉 :</div>
    <p class="case-txt">
        点石家装根据威脉重新调整了运营机制，将威脉针对销售激励优化型管理体系与点石一直以来奉行的“人性化管理体系”兼并和合一，并落实到企业当中，以全面营销的企业策略，降低营销成本，优化营销方式，为家装界的“奥迪”的战略目标打好基础。<br/>
    </p>

    <p class="case-img"><img src="images/case1d.png"></p>
    <div class="case-tt">客户使用感悟 :</div>
    <p class="case-txt">
        "你们走到了前面，你们是这个领域的领导者，我一定要在最快的时间跟你们产生联系和互动，威脉直接解决了（团队中）谁付出谁收获的问题，重点使用还是在市场部、电商部、甚至设计师都可以将人脉发动起来，收益最大的将是直销部们"<br/>
        ——点石家装董事长  袁超辉<br/>
    </p>
</div>
{% endblock %}