{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css"/>
{% endblock %}

{% block body %}
<div class="contanter detais-con">
    <h3>教育行业案例</h3>
    <ul class="detais-ul">
        <li><img src="images/icon23.png"><span>服务品牌：</span>凹凸教育</li>
        <li><img src="images/icon24.png"><span>所属行业：</span>教育行业</li>
    </ul>
    <p class="case-img"><img src="images/case6a.png"></p>
    <div class="case-tt">行业痛点 :</div>
    <p class="case-txt">
        竞争大，招生难，多种渠道宣传方式成本高，效果差。<br/>
    </p>

    <p class="case-img"><img src="images/case6b.png"></p>
    <div class="case-tt">使用状态 :</div>
    <p class="case-txt">
        2月18日的开学典礼，16号策划的文案、17号上线，短短22小时筹备工作，花费599元，令新校开业招生内容产生4539次阅读，转发2086次，人脉传播层级达到13层，主动咨询加微信好友的精准客户达到190人，上门60组家庭，成交29单，成交价格共7万元，投入仅占产出的0.85%。<br/>
    </p>

    <p class="case-img"><img src="images/case6c.png"></p>
    <div class="case-tt">他们如何用威脉 :</div>
    <p class="case-txt">
        配合新校开业推广，使用威脉令其商业活动产生滚雪球效应，以全体工作人员为传播源点，进行分享转发，配合红包助力，达到空前成功。<br/>
    </p>

    <p class="case-img"><img src="images/case6d.png"></p>
    <div class="case-tt">客户使用感悟 :</div>
    <p class="case-txt">
        “以前做地推，费时费事耗人力，效果还日渐不好。现在用威脉做到流量溯源。老学员被真正的激发起来，帮机构做宣传，在我负责的校区里转介绍的比例普遍提高了60%以上”<br/>
        ——凹凸个性教育 华南运营总监 刘伟<br/>
    </p>
</div>
{% endblock %}
