{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/price.css" />
{% endblock %}

{% block body %}
<div class="contanter">
		<h3 class="title case-title fz2">选择满足您需求的价格方案</h3>
		<ul class="price-ul">
			<li>
				<h3>套餐一</h3>
				<div class="price-div"><span class="green"><em>￥</em>31000</span>/年
					<p>1个主帐号+3个子帐号</p>
				</div>
				<div class="price-div2">每增购一个子账号，价格为1680元/个/年。</div>
			</li>
			<li>
				<h3>套餐二</h3>
				<div class="price-div"><span class="orange"><em>￥</em>60000</span>/年
					<p>30个账户( 含主账号 )</p>
				</div>
				<div class="price-div2">每增购一个子账号，价格为1680元/个/年。</div>
			</li>
			<li>
				<h3>套餐三</h3>
				<div class="price-div"><span class="red"><em>￥</em>120000</span>/年
					<p>100个账户( 含主账号 )</p>
				</div>
				<div class="price-div2">每增购一个子账号，价格为1680元/个/年。</div>
			</li>
			<li>
				<h3>套餐四</h3>
				<div class="price-div"><span class="blue"><em>￥</em>460000</span>/年
					<p>500个账户( 含主账号 )</p>
				</div>
				<div class="price-div2">每增购一个子账号，价格为1680元/个/年。</div>
			</li>
		</ul>
		<h3 class="title case-title price-h3 price-title">主动联系我们</h3>
		<p class="price-ptxt borderbg">联系销售：<a href="tel:400-705-3600">400-705-3600</a></p>
		
	</div>
{% endblock %}
