{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/product.css" />
{% endblock %}

{% block body %}
	<div class="contanter">
		<img src="images/banner.png" width="100%">
		<div class="mpr-list borderbg">
			<img src="images/img10.png">
			<h3>内容创作</h3>
			<p>
				资源快速构建原创内容，第三方内容及H5动态内容一键分享朋友圈！丰富插件，推广过程即是吸粉过程。
			</p>
			<p class="mpr-p">
				丰富的内容编辑工具<br/>
				定制化可扩展插件<br/>
				一键封装外部内容<br/>
				模拟查看手机上界面效果预览<br/>
			</p>
		</div>
		<div class="mpr-list borderbg">
			<img src="images/img11.png" class="cm1">
			<h3>销售线索追踪</h3>
			<p>
				无限层级深度挖掘分析，访问，转化，比例尽在掌握
			</p>
			<p class="mpr-p">
				无限级全网销售轨迹记录<br/>
				一目了然挖出重要客户<br/>
				一键导入CRM<br/>
			</p>
		</div>
		<div class="mpr-list borderbg">
			<img src="images/img12.png">
			<h3>数据分析</h3>
			<p>
				精准把握营销活动反馈、转化效果、锁定精准客户
			</p>
			<p class="mpr-p">
				多种图表生动展示<br/>
				数据分类排序筛选<br/>
				多维度展示人脉关系图谱<br/>
			</p>
		</div>
		<div class="mpr-list borderbg">
			<img src="images/img13.png" class="cm2">
			<h3>影响力</h3>
			<p>
				高效决策销售员，内容，团队的执行力
			</p>
			<p class="mpr-p">
				快速了解公司，团队，个人执行力情况<br/>
				快速了解内容影响力<br/>
				快速了解人脉影响力<br/>
			</p>
		</div>
		<div class="mpr-list borderbg">
			<img src="images/img14.png" class="cm3">
			<h3>小红包大裂变</h3>
			<p>
				轻松发布红包活动助力价值传播更远，更深提升客户接触点营销效果和服务效果
			</p>
			<p class="mpr-p">
				借助红包激励，让转发倍增<br/>
				激励规则定制化<br/>
				激励金额想发多少发多少<br/>
			</p>
		</div>
		<div class="mpr-list borderbg">
			<img src="images/img15.png">
			<h3>挖掘高价值客户</h3>
			<p>
				多维度添加客户，一键记录客户数据，通过客户行为和响应挖掘价值，让你的每一分投入达到最高性价比。
			</p>
			<p class="mpr-p">
				通过脉络线索<br/>
				通过多维度图表分析<br/>
				通过插件主动引导<br/>
				通过数据挖掘<br/>
			</p>
		</div>
	</div>
{% endblock %}

{% block foot %}
<script src="js/swiper.min.js"></script>
<script src="js/chplayer/chplayer.js"></script>
<script src="js/index.js"></script>
{% endblock %}
