{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css"/>
{% endblock %}
{% block body %}
<div class="contanter detais-con">
    <h3>汽车4S店行业案例</h3>
    <ul class="detais-ul">
        <li><img src="images/icon23.png"><span>服务品牌：</span>力天宝崐宝马4S店</li>
        <li><img src="images/icon24.png"><span>所属行业：</span>4S店</li>
    </ul>
    <p class="case-img"><img src="images/case2a.png"></p>
    <div class="case-tt">行业痛点 :</div>
    <p class="case-txt">
        新车售出后，老客户保险、保养、汽车等后续服务承接断层，大额利润不断流失；<br/>
        推广预算低，或基本没有预算，如何在这样的情况下将行业信息有效精准传播；<br/>
        管理难，传统的结果管理难以触及过程，不能做到快速、有效的直击问题根源。<br/>
    </p>

    <p class="case-img"><img src="images/case2b.png"></p>
    <div class="case-tt">使用状态 :</div>
    <p class="case-txt">
        48小时内容阅读量4020，转发量1522，人际脉络渗透12层，推广费用仅409元，活动当天完成60台汽车的交易量。<br/>
    </p>

    <p class="case-img"><img src="images/case2c.png"></p>
    <div class="case-tt">他们如何用威脉 :</div>
    <p class="case-txt">
        通过威脉特有的内容发布及定制化红包功能对活动信息进行传播执行与激励，即时获取4020名阅读（及转发者）每个数字背后的行为数据，分析目标客户与潜在客户的生活圈，联络线及阅读习惯，根据客户需求，有针对性的提供服务，超额达成销售目标，不止如此。使用威脉数据功能，将每个人的日常状态全部真实的透视出来，在传播过程中了解内部员工谁做的好、谁尚待进步，一目了然。如何让老客户持续产生价值，持续消费，威脉给力天宝崐宝马提供了无限的玩法，和更多的思路去完成营销工作。<br/>
    </p>

    <p class="case-img"><img src="images/case2d.png"></p>
    <div class="case-tt">客户使用感悟 :</div>
    <p class="case-txt">
        “以前需要行政部确定员工有没有转发公司的宣传内容，现在威脉营销用数据告诉我员工有没有转发，转发之后的效果怎么样，清晰、直观！有了这个数据，我管理下面员工的时候就不用只看业绩和凭印象了，管理更多元，心里更有底”<br/>
        ——力天宝崐宝马4S店 总经理 熊尧<br/>
    </p>
</div>
{% endblock %}
