{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css"/>
{% endblock %}
{% block body %}
<div class="contanter detais-con">
    <h3>医疗美容行业案例</h3>
    <ul class="detais-ul">
        <li><img src="images/icon23.png"><span>服务品牌：</span>成都米兰柏羽（A股上市企业）</li>
        <li><img src="images/icon24.png"><span>所属行业：</span>医疗美容</li>
    </ul>
    <p class="case-img"><img src="images/case3a.png"></p>
    <div class="case-tt">行业痛点 :</div>
    <p class="case-txt">
        行业营销成本极高，据有效数据显示，行业中，普遍拓客成本占整个企业销售额的60-70%，在互联网竞价广告的投放高峰，仅一天可达到十几万元的广告投放；<br/>
        行业内营销方式的多种多样，实际在“有效、精准传播”上收效甚微；<br/>
        没有有效、公正的数据能够为管理带来依据。<br/>
    </p>

    <p class="case-img"><img src="images/case3b.png"></p>
    <div class="case-tt">使用状态 :</div>
    <p class="case-txt">
        通过米兰柏羽提供的数据分享，4次活动共花费推广成本1713元，带来有效客资共557名，在四次活动中最高平均拓客成本为4.93元/每人；最低平均拓客成本为2.46元/每人，这与传统医美数千元的单人拓客成本产生明显对比。<br/>
    </p>

    <p class="case-img"><img src="images/case3c.png"></p>
    <div class="case-tt">他们如何用威脉 :</div>
    <p class="case-txt">
        在互联网时代，充满创意的H5可谓与客户沟通的必杀技，米兰柏羽的宣传内容做的尤为精美，但阅读流量并未达成预期的精准拓客效果，引入威脉后，米兰柏羽利用自身优秀的内容创造能力，与威脉系统的运营·营销·管理三大运营优势融为一体，以精美营销做引，以数据做为评估准则与推广灵感源泉，优化团队销售能力，大幅降低拓客成本的同时实现真正意义上的精准营销。<br/>
    </p>

    <p class="case-img"><img src="images/case3d.png"></p>
    <div class="case-tt">客户使用感悟 :</div>
    <p class="case-txt">
        “作为全新的销售数据系统，威脉前途不可估量，我们希望随着威脉的发展的而发展，享受威脉发展的红利”<br/>
        ——来自米兰柏羽管理层的反馈<br/>
    </p>
</div>
{% endblock %}