{% extends './public/layout.html' %}

{% block head %}
<link type="text/css" rel="stylesheet" href="css/casedetails.css"/>
{% endblock %}

{% block body %}
<div class="contanter detais-con">
    <h3>金融行业案例</h3>
    <ul class="detais-ul">
        <li><img src="images/icon23.png"><span>服务品牌：</span>浦发银行</li>
        <li><img src="images/icon24.png"><span>所属行业：</span>金融行业</li>
    </ul>
    <p class="case-img"><img src="images/case7a.png"></p>
    <div class="case-tt">行业痛点 :</div>
    <p class="case-txt">
        获客：与银行传统营销手段不同，互联网时代的来临，足不出户已经成为主流消费方式，在广阔、多元化的互联网环境中完成营销动作，实现精准拓客是行业一直在攻克的难题。<br/>
        管理：线下营业网点客流的减少，让银行业务员们失去了充沛的自然客源，原本光鲜亮丽的“坐等”客户，到如今不得不进行上访、地推等底层销售行为，转型过程中，人员心态并没有即时调整，导致管理和行动力变得日益迟缓，加上管理者无法监控到营业员的推销过程即时调试，整个销售部门业绩发展缓慢。<br/>
        运营：数据沉淀是银行体系最为重要的一环，以往只在客户资讯上实现，营销方式的数据积累上远远不够，甚至没有，这就导致营销决策缺少有效的依据支撑，互联网时代银行迫切需要拥有自己的数据库，完善运营体系。<br/>
    </p>

    <p class="case-img"><img src="images/case7b.png"></p>
    <div class="case-tt">使用状态 :</div>
    <p class="case-txt">
        通过威脉，浦发某省级分行连续做了三场营销活动，将具有特殊限制的金融产品进行了快速、精准的传播，通过威脉定制化红包，轻松撬动员工及老顾客的分享热情，帮助浦发带来了数百万的理财业绩，并为精准目标客户服务了数千万的放款额度，通过威脉即时数据，银行内部可以清晰看到每一个支行业务结构的核心问题，资源出在哪里，效果在哪里，通过对传播过程的数据分析也证实了每个业务员的用心程度和结果是成正比的。<br/>
    </p>

    <p class="case-img"><img src="images/case7c.png"></p>
    <div class="case-tt">他们如何用威脉 :</div>
    <p class="case-txt">
        每一个支行都会设定一个网点作为威脉使用支点，通过日常使用，提升日常的业绩效率。<br/>
    </p>

    <p class="case-img"><img src="images/case7d.png"></p>
    <div class="case-tt">客户使用感悟 :</div>
    <p class="case-txt">
        “我们有一款收益非常可观的理财产品，总行要求用这个高收益的爆品为浦发银行带来更多的新客户。威脉用微信里常用的裂变、分享、传播，像放大器一样帮我们轻松覆盖到更多我们以前接触不到的客户”<br/>
        ——浦发银行 消费小微事业部总经理 周微<br/>
    </p>
</div>
{% endblock %}